@import "tailwindcss";
@config "../../tailwind.config.ts";

@layer base {
  :root {
    --background: 0 0% 2%;
    --foreground: 0 0% 98%;
  }
}

body {
  background-color: theme('colors.background');
  color: theme('colors.foreground');
  overflow-x: hidden;
  overscroll-behavior: none;
}

/* Hide scrollbar for cleaner look */
::-webkit-scrollbar {
  display: none;
}
